<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/album.css' %}" rel="stylesheet">

  <title>Color Detection</title>
</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted"> Color detction is a computer vision application. Which we can use to identify the
              color of an object like color of the dress, bootle etc. The purpose of this project is mering the Machine
              Learning with web application. To background technology go to the <a
                href="https://github.com/MashodRana/color-detection-service-django" target="_blank"></a>. </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li class="text-muted">Connect with me at <a href="www.linkedin.com/in/mashod-rana-145948132" class="text-white">LinkedIn</a></li>
              <li class="text-muted">Notebook on DS, ML, DL at <a href="https://www.kaggle.com/mashodrana" class="text-white">Kaggle</a></li>
              <li class="text-muted">Like on <a href="https://www.facebook.com/mashod.rana/" class="text-white">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="{% url 'color-detection' %}" class="navbar-brand d-flex align-items-center">
          <img  style="height: 30px; " src="{% static 'images/icon1.png' %}" alt="">
          <strong>Color Detection</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  {% block content %}

  {% endblock content%}

  <footer class="text-muted">
    <div class="container">
      <p> Color Detection &copy; MashodRana</p>
      <p>Do you like the template? This template picked from  <a href="https://getbootstrap.com/docs/4.0/examples/">getbootstrap</a> and customized by me (Mashod Rana).</p>
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <!-- <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>

</body>

</html>